<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']">
                   <span data-feather="home" class="align-text-bottom"></span>
                       Dashboard
                 </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/administracion']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Administracion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/clientes']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ordenes']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Ordenes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/detalle-orden-trabajo']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Detalle Orden
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ventas']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Ventas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/detalle-ventas']">
              <span data-feather="file" class="aling-text-bottom"></span>
             Detalle Ventas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/compras']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Compras
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/detalle-compras']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Detalle Compras
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/productos']">
              <span data-feather="file" class="aling-text-bottom"></span>
              productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/proveedores']">
              <span data-feather="file" class="aling-text-bottom"></span>
              Proveedores
            </a>
          </li>
        </ul>
        
        
      </div>
      
    </nav>
    